.calculator {
  padding-top: 100px;
  display: grid;
  justify-content: center;
  align-items: center;  
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.buttons > *, #clear{
  display: flex;
  justify-content: center;
  align-items: center;
  /*padding: 20px 40px;*/
  font-size: 20px;
  width: 50px;
  height: 50px;
  margin: 2px;
  border-radius: 5px;
  background-color: #333;
  color: white;
}

.buttons > .operator {
  background-color: #f90;
}

.row {
  grid-column: 1 / -1;
}

#clear {  
  width: auto;
  height: 50px;
  background-color: #FF1900;  
  margin: 2px;
}

#display {  
  border-radius: 5px;
  margin: 2px;
  background-color: rgb(243, 243, 243);
}

#equals{
  background-color: #0066FF;
}

@media (max-width: 480px) {
  .calculator {
      padding-top: 50px;
  }
  .buttons > *,
  #clear {
      width:auto;
      height:40px;
      font-size:18px
  }
}